* {margin: 0; padding: 0; outline: 0;}


body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #e5e5e5;
    background:rgba(0,0,0,0);
}

h1, h2, h3, p{
    line-height: 100%;
    margin-top: 0;
}

h1, h2, h3 { 
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

a {
    text-shadow: 0 2px 1px rgba(0,0,0,0.65);
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.section {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    padding:30px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.inner:after {
      content: "";
      display: table;
      clear: both;
}

/****** LOADER GIF ******/

/*#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../imgs/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}*/

/******    Navbar Highlight Size
   navbar height == .nav_link height  *******/

.navbar {
    height: 55px;
    z-index: 5000;
    width: 100%;
    background: #0977bc;
}

.navbar .inner {
    padding:0;
    font-weight: 400;
    margin: 0 auto;
}

.nav_link {
    display: block;
    height: 3em;
    width: 10%;
    float: left;
    margin: 0 20px 0 0;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #fff;
}

.navbar a:hover {
    background: #1783c7;
}

.active {
    background: #25aae1;
}
.end {
    margin: 0;
}


#home_container, #bio_container {
    background-color: rgba(0,0,0,0.65);
}


/****** HOME SECTION ******/

.home {
    height: 900px; 
    background: url("../imgs/charlyyoon_wallpaper.jpg");
    background-size: cover;
    /*background-position: 85% 19%; */
    background-repeat: no-repeat;
    color:#3d3d3d;
    padding: 50px 0;
}

#home_container {
    width: 70%;
    float: right;
    color: white;
    border-radius: 2em;
    padding: 2.6em 1em;
    margin-right: 4%;
}

.home h1, h2, h3 {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.home h1 {
    font-size: 50px;
}

/****** BIO SECTION ******/

.bio {
    background: url("../imgs/cloud_wallpaper.png");
    background-size: cover;
    color:#fff;
    height: 800px;
}

#bio_container {
    border-radius: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}
#bio_container h1 {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#bio_container p {
    font-size: 1.7em;
}
/****** WDI SECTION ******/

.wdi {
    height: 900px;
    background: url("../imgs/santamonica.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
}

#wdi_header {
    margin-left: 6px;
}

#wdi_container {
    
}

#wdi_container h1 {
    color: white;
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif;
}
.ga {
    color: red;
    padding-right: 2px;
    font-weight: bolder;
    text-shadow: 1px -1px 1px rgba(250,250,250,.8);
}

#wdi_container p {
    margin: 1em 0 0 1em;
    color: rgba(211, 255, 245, 1);
    width: 55%;
    font-size: 1.7em;
}

/****** SKILLS SECTION ******/

.skills {
    height: 900px;
    background: url("../imgs/tech_wallpaper.jpg");
    background-repeat: no-repeat;/*
    background-position: 50% 10%;*/
    background-size: cover;
}

#skills_h1 {
    padding-top: 35px;
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#skills_container, #tech_container {
    text-align: center;
}

.bar {
    background-color: rgba(180,200,250,.75);
    border-radius: 30px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 80%;
    margin: 0 auto;
}

#html_bar > div {
   background-color: lightblue;
   width: 95%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#css_bar > div {
   background-color: lightblue;
   width: 95%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#js_bar > div {
   background-color: lightblue;
   width: 82%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#jquery_bar > div {
   background-color: lightblue;
   width: 82%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#angularjs_bar > div {
   background-color: lightblue;
   width: 73%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#foundation_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#bootstrap_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#ror_bar > div {
   background-color: lightblue;
   width: 82%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#github_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#pgsql_bar > div {
   background-color: lightblue;
   width: 80%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#mongodb_bar > div {
   background-color: lightblue;
   width: 80%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#heroku_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#tdd_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}

#add_bar > div {
   background-color: lightblue;
   width: 90%; /* Adjust with JavaScript */
   height: 2em;
   border-radius: 10px;
}




/****** PROJECTS SECTION ******/

.projects {
    height: 1480px;
    background: url("../imgs/simple_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects h3 {
  color: black;
}

.projects p {
  color: black;
}

#projects_h1 {
    padding: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.all_projects {
    height: 200px;
    width: 50%;
}

.project1_content, .project2_content, .project3_content, .project4_content, .project5_content, .project6_content{
  color: black;
  overflow-y: scroll;
}

.project1_image, .project2_image, .project3_image, .project4_image, .project5_image, .project6_image {
  background-size: cover;
}

.project1_image {
    background: url("../imgs/plandora_img.jpg");
    background-position: 50% 2%;
}

.project2_image {
    background: url("../imgs/parkpicker_img.jpg");
}

.project3_image {
    background: url("../imgs/showerthoughts_img.jpg");
    background-position: 35% 0%;
}

.project4_image {
    background: url("../imgs/ttt_img.jpg");
    background-position: 44% 4%;
}

.project5_image {
    background: url("../imgs/rps_img.jpg");
    background-position: 44% 0%;
}

.project6_image {
  background: url("../imgs/wesource.png");
}


/****** CONTACT SECTION ******/

.contact {
    height: 920px;
    background: url("../imgs/charlyyoon_wallpaper2.jpg");
    background-size: cover;
    color: #3d3d3d;
    background-repeat: no-repeat;
    text-align: center;
}

.link_container a {
    color: white;
    padding: 5px
}

#contact_h1 {
    margin-top: 35px;
    color: white;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
}

.email_container {
  padding: 10px;
}

#email {
    color: white;
}

.links_1, .links_2 {
  padding-bottom: 2em;
}

.contact_imgs {
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 0 auto;
}



/****** MEDIA QUERIES ******/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .home {
        background-position: 45% 20%;
        height: auto; 
    }
    #home_container {
      margin-right: 10%;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}